body {
    background-color: #fefefe;
    margin: 0;
}

a {
    text-decoration: none;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
}

.navigation {
    background-color: cadetblue;
    line-height: 64px;
    width: auto;
    text-align: center;
}

.navigation__link {
    padding: 0 18px;
    display: inline-block;
    color: #333;
    font-size: 28px;
    font-weight: 600;
}

.navigation__link {
    padding: 0 18px;
    display: inline-block;
    color: #333;
    font-size: 28px;
    font-weight: 600;
}

.navigation__link:hover {
    color: rgb(75, 75, 75);
}

.header__title {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

.article__title {
    color: #1460aa;
}


/** article__description, header__description **/

p {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
}

.header__photo {
    height: 600px;
}